<div id='charts' class='row'>
  <div class='col-12'>
    <h1>Statistics</h1>
  </div>
  <div class='percentage col col-sm-4'>
    <div class='percent'>29%</div>
    Native Tennesseans
  </div>
  <div class='percentage col col-sm-4'>
    <div class='percent'>50%</div>
    Professional Musicians
  </div>
  <div class='percentage col col-sm-4'>
    <div class='percent'>63%</div>
    Take 5 Fans
  </div>
  <div class='chart col col-sm-6 col-lg-3'>
    <h4>Text Editors</h4>
    <canvas id='editors' width='400' height='400'></canvas>
  </div>
  <div class='chart col col-sm-6 col-lg-3'>
    <h4>Operating Systems</h4>
    <canvas id='os' width='400' height='400'></canvas>
  </div>
  <div class='chart col col-sm-6 col-lg-3'>
    <h4>Favorite Animals</h4>
    <canvas id='animal' width='400' height='400'></canvas>
  </div>
  <div class='chart col col-sm-6 col-lg-3'>
    <h4>Gender</h4>
    <canvas id='gender' width='400' height='400'></canvas>
  </div>
</div>